@inherits LayoutComponentBase

<PageTitle>DNB_Frontend</PageTitle>

<Layout Style="swis721, Helvetica, Arial, sans-serif;background-color:#dde6eb; color:black">
    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <NavMenu_1></NavMenu_1>
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutContent>
                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </LayoutContent>
        </Layout>
    </Layout>
</Layout>