@*
***********

Ladescreen-Komponente

***********
*@

<Div Style="text-align: center">
    <Figure Size="FigureSize.Is256x256" Style="top: 50%; transform: translate(0, -50%); margin: 0; position: absolute;text-align:center">
        <div class="spinner" Style="text-align: center">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </Figure>
</Div>

